.container {
    background-color: #415673;
    height: 100vh;
    justify-content: center;
    box-sizing: border-box;
}

.block {
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
}

.imagesBlock {
    position: absolute;
    right: 10px;
    top: 10px;
}

.text {
    width: 300px;
    margin: 30px;
}

.active {
    color: white;
}

.image {
    position: relative;
    width: 200px;
}

.img {
    width: 100%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    bottom: 10px;
}

.arrowLeft {
    transform: rotate(135deg);
    left: 5px;

}

.arrowRight {
    transform: rotate(-45deg);
    right: 5px;
}

.disabled {
    pointer-events: none;
    opacity: 0.4;
}